name: Create Draft Release
on:
  push:
    branches: [ release ]

  workflow_dispatch:

jobs:
  tag_release:
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
      - uses: actions/checkout@v2
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          default_bump: 'minor'
          default_prerelease_bump: 'minor'
          tag_prefix: 'v'
          dry_run: false
          github_token: ${{ secrets.GITHUB_TOKEN }}    
      - run: echo ${{ steps.tag_version.outputs.new_tag }}
      - uses: actions/checkout@master
      - name: Archive Release
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          filename: ${{ format('CAFE3_{0}.zip', steps.tag_version.outputs.new_tag) }}
          exclusions: '*.git*'  
      - name: Draft Release  
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          artifacts: ${{ format('*/CAFE3_{0}.zip', steps.tag_version.outputs.new_tag) }}
          draft: true
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}
